@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(
        to right bottom,
        rgb(212, 233, 240),
        rgb(92, 235, 248)
    );
}

nav{
    background-color: rgb(3, 14, 66);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px; 
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.GameContainer{
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 118px;
}

.Container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(170, 197, 251);
}

.info{
    font-size: 25px;
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.imgbox{
    display: none;
    /* width: 0px; */
    transition: width 5s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 1px 23px;
    padding: 1px 25px;
    background: rgb(170, 170, 247);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 20px;
    font-weight: bolder;
}

.line{
    background-color: rgb(5, 2, 47);
    width: 0;
    height: 3px;
    position: absolute;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 800px) {
    .GameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
